@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-inverse-surface: #31312a;
  --color-surface-dim: #dddad0;
  --color-secondary: #566342;
  --color-on-surface: #1c1c16;
  --color-on-tertiary-fixed-variant: #284f2a;
  --color-secondary-container: #d7e5bb;
  --color-on-tertiary-container: #a6d3a2;
  --color-on-primary: #ffffff;
  --color-primary: #23422a;
  --color-inverse-on-surface: #f4f1e6;
  --color-on-secondary-fixed-variant: #3f4b2c;
  --color-inverse-primary: #abd0af;
  --color-tertiary-fixed: #c1eebc;
  --color-primary-fixed-dim: #abd0af;
  --color-surface-container: #f1eee3;
  --color-secondary-fixed: #dae8be;
  --color-on-secondary-fixed: #141f05;
  --color-surface: #fdf9ef;
  --color-surface-tint: #45664b;
  --color-error-container: #ffdad6;
  --color-error: #ba1a1a;
  --color-primary-container: #3a5a40;
  --color-on-primary-fixed: #02210c;
  --color-surface-container-high: #ebe8de;
  --color-on-background: #1c1c16;
  --color-surface-container-low: #f7f3e9;
  --color-primary-fixed: #c7ecca;
  --color-outline-variant: #c2c8bf;
  --color-on-error-container: #93000a;
  --color-tertiary: #1d4420;
  --color-on-tertiary: #ffffff;
  --color-on-tertiary-fixed: #002106;
  --color-on-secondary: #ffffff;
  --color-on-primary-container: #acd0af;
  --color-tertiary-container: #355c36;
  --color-background: #fdf9ef;
  --color-surface-variant: #e6e2d8;
  --color-outline: #727971;
  --color-secondary-fixed-dim: #becca3;
  --color-tertiary-fixed-dim: #a5d2a2;
  --color-surface-bright: #fdf9ef;
  --color-surface-container-highest: #e6e2d8;
  --color-on-error: #ffffff;
  --color-on-surface-variant: #424842;
  --color-on-secondary-container: #5a6745;

  --font-headline: "Noto Serif", serif;
  --font-body: "Manrope", sans-serif;
  --font-label: "Manrope", sans-serif;

  --radius: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;
}

@layer base {
  .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
    vertical-align: middle;
  }

  body {
    font-family: var(--font-body);
    background-color: var(--color-surface);
    color: var(--color-on-surface);
    margin: 0;
    overflow-x: hidden;
  }

  h1,
  h2,
  h3,
  .font-serif {
    font-family: var(--font-headline);
  }
}
